@font-face {
  font-family: "FileIcon"; /* Project id 4005258 */
  src: url("//at.alicdn.com/t/c/font_4005258_u6zg65mxw5r.woff2?t=1681121003221")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4005258_u6zg65mxw5r.woff?t=1681121003221")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4005258_u6zg65mxw5r.ttf?t=1681121003221")
      format("truetype");
}

.FileIcon {
  font-family: "FileIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.file-folder:before {
  content: "\e612";
}

.file-word-iocn:before {
  content: "\e602";
}

.file-excel-iocn:before {
  content: "\e603";
}

.file-ppt:before {
  content: "\e604";
}

.file-pdf-iocn:before {
  content: "\e605";
}

.file-unknown-iocn:before {
  content: "\e606";
}

.file-note-iocn:before {
  content: "\e607";
}

.file-vidoe-iocn:before {
  content: "\e608";
}

.file-txt-iocn:before {
  content: "\e609";
}

.file-htm-iocn:before {
  content: "\e60a";
}

.file-zip-iocn:before {
  content: "\e60b";
}

.file-voice-iocn:before {
  content: "\e60c";
}

.file-url-iocn:before {
  content: "\e60d";
}

.file-swf-iocn:before {
  content: "\e60e";
}

.file-java-iocn:before {
  content: "\e60f";
}

.file-css-iocn:before {
  content: "\e610";
}

.file-jpg-iocn:before {
  content: "\e611";
}

.file-rar-iocn:before {
  content: "\e613";
}

.file-gif-iocn:before {
  content: "\e614";
}

.file-png-iocn:before {
  content: "\e615";
}

.file-apk-iocn:before {
  content: "\e616";
}

.file-Web:before {
  content: "\e67f";
}

.file-Unknow:before {
  content: "\e680";
}
