.font {
  &-mini {
    --table-font-base:12px;
    --el-font-size-base: 12px;
    .el-form-item {
      --font-size: 12px;
    }
  }
  &-medium {
    --table-font-base:13px;
    --el-font-size-base: 13px;
    .el-form-item {
      --font-size: 13px;
    }
    .el-button--small, .el-radio.el-radio--small .el-radio__label,.el-input__inner , .el-form-item__content{
      font-size: 13px !important;
    }
  }
  &-large {
    --table-font-base:14px;
    --el-font-size-base: 14px;
    .el-form-item {
      --font-size: 14px;
    }
    .el-button--small, .el-radio.el-radio--small .el-radio__label,.el-input__inner, .el-form-item__content{
      font-size: 14px !important;
    }
  }
  &-big-large {
    --table-font-base:16px;
    --el-font-size-base: 16px;
    .el-form-item {
      --font-size: 16px;
    }
    .el-button--small, .el-radio.el-radio--small .el-radio__label,.el-input__inner, .el-form-item__content{
      font-size: 16px !important;
    }
  }
}
.vxe-table--header .vxe-cell--title,
.vxe-table--render-default.size--mini .vxe-cell ,
.vxe-body--column .vxe-cell{
  // font-size: var(--table-font-base) !important;
  font-size: 14px !important;
}
